Makefile
omiquji
.qmake.stash
omiquji.pro.user
build/
src/Makefile
src/aboutdialog.o
src/editdialog.o
src/finddialog.o
src/main.o
src/mainwindow.o
src/moc_mainwindow.cpp
src/moc_mainwindow.o
src/moc_predefs.h
src/moc_omidoc.cpp
src/moc_omidoc.o
src/omidoc.o
src/ui_aboutdialog.h
src/ui_editdialog.h
src/ui_mainwindow.h
src/moc_aboutdialog.cpp
src/moc_aboutdialog.o
src/qrc_omiquji.cpp
src/qrc_omiquji.o
src/moc_editdialog.cpp
src/moc_editdialog.o
src/moc_finddialog.cpp
src/moc_finddialog.o
src/ui_finddialog.h
